In [1]:
import os

# Get the current working directory
current_directory = os.getcwd()
print("Current Directory:", current_directory)

# Move to the parent directory
parent_directory = os.path.dirname(current_directory)
os.chdir(parent_directory)

# Print the updated working directory
updated_directory = os.getcwd()
print("Updated Directory:", updated_directory)

Current Directory: /mnt/c/users/rjmay/code/research_ms/misc
Updated Directory: /mnt/c/users/rjmay/code/research_ms

Demonstration of using the bound files.

In [2]:

import numpy as np
from scipy.stats import norm
from modules.bounds_calculator import bounds_calculator

from modules.data_gen_mv import data_gen_multivariate
from modules.data_gen_gauss_mix import data_gen_gauss_mix
from modules.data_gen import data_gen

import pandas as pd

Running the bounds

In [3]:
default = 21


def compute_time(data_generator, sample_size, eng,runs=default):
    data = [data_generator.sample(sample_size) for i in range(runs)]

    times = []
    for d in data:
        a, b= d

        _, time_results = bounds_calculator(a, b, MATLAB = eng, Timer = True)


        times.append(time_results)

    df =  pd.DataFrame(times)



        
    return df.median()

Normals

In [4]:

def norm_compute_time(dim, sample_size, eng ,runs= default):

    sample_size = int(sample_size /2 ) ### sampling for each class

    mean_sep = 2.56
    func0 = np.random.multivariate_normal
    func1 = np.random.multivariate_normal

    mean1 = np.zeros(dim)
    covariance1 = np.identity(dim)

    mean2 = np.zeros(dim)
    mean2[0] = mean_sep
            
    params0 = {'mean': mean1, 'cov': covariance1}
    params1  = {'mean': mean2, 'cov': covariance1}
            
    generator  = data_gen_multivariate(func0, func1,  params0, params1, boundary = mean_sep/2 )

    run_time = compute_time(generator, sample_size, eng, runs = runs)

    return run_time

In [5]:
def gaussian_mix_compute_time(dim, sample_size, eng ,runs = default):

    sample_size = int(sample_size /2 ) ### sampling for each class

    

    mean_sep = 2.56
        
    params0 = {'means': [[-1 * mean_sep], [mean_sep]], 'covariances':  [ [[1]], [[1]]]}

    params1 = {'mean' : np.zeros(dim), 'cov': np.identity(dim) }

    generator = data_gen_gauss_mix(params0, params1, boundary = [-1.55, 1.55] )

    run_time = compute_time(generator, sample_size, eng, runs = runs)

    return run_time

In [6]:

def uniform2_compute_time(dim, sample_size, eng ,runs=default):

    sample_size = int(sample_size /2 ) ### sampling for each class

    func0 = np.random.uniform
    func1 = np.random.uniform

    params0 = {'low': 0, 'high':1}
    params1= {"low":.8, "high" : 1.8}

    generator = data_gen(func0, func1,  params0, params1, dim, boundary=.9)

    run_time = compute_time(generator, sample_size, eng, runs = runs)

    return run_time


def uniform_norm_compute_time(dim, sample_size, eng ,runs=default):

    sample_size = int(sample_size /2 ) ### sampling for each class


    func0 = np.random.uniform
    func1 = np.random.normal

    params0 = {'low': .5, 'high':3}
    params1= {"loc":0, "scale" : 1}

    generator = data_gen(func0, func1,  params0, params1, dim, boundary=.5)

    run_time = compute_time(generator, sample_size, eng, runs = runs)

    return run_time


def norm_beta_compute_time(dim, sample_size, eng ,runs= default):

    sample_size = int(sample_size /2 ) ### sampling for each class


    func0 = np.random.normal
    func1 = np.random.beta
    params0= {"loc":0, "scale" : 1}
    params1 = {'a': 20, 'b':20}

    generator = data_gen(func0, func1,  params0, params1, dim, boundary =[0.3219999999942793, 0.6839999999940787] )

    run_time = compute_time(generator, sample_size, eng, runs = runs)

    return run_time

### Starting the computing

In [7]:

dims = [3, 8, 15]
samples  =[50, 5000]

In [8]:

import matlab.engine
eng = matlab.engine.start_matlab()

In [9]:
# norm_compute_time(3, 50, eng).median()

In [10]:
dim3 = []
dim8 = []
dim15 = []

In [11]:


for d in dims:
    for s in samples:
        run_time = norm_compute_time(d,s, eng)
        if d==3:
            dim3.append(run_time)
        elif d==8:
            dim8.append(run_time)
        elif d==15:
            dim15.append(run_time)

1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.

Gaussian Mixture

In [12]:

for d in dims:
    for s in samples:
        run_time = gaussian_mix_compute_time(d,s, eng)
        if d==3:
            dim3.append(run_time)
        elif d==8:
            dim8.append(run_time)
        elif d==15:
            dim15.append(run_time)

1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.

Paired Uniforms

In [13]:

for d in dims:
    for s in samples:
        run_time = uniform2_compute_time(d,s, eng)
        if d==3:
            dim3.append(run_time)
        elif d==8:
            dim8.append(run_time)
        elif d==15:
            dim15.append(run_time)

1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.

norm beta

In [14]:
for d in dims:
    for s in samples:
        run_time = norm_beta_compute_time(d,s, eng)
        if d==3:
            dim3.append(run_time)
        elif d==8:
            dim8.append(run_time)
        elif d==15:
            dim15.append(run_time)

1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.

Uniform Normal

In [15]:

for d in dims:
    for s in samples:
        run_time = uniform_norm_compute_time(d,s, eng)
        if d==3:
            dim3.append(run_time)
        elif d==8:
            dim8.append(run_time)
        elif d==15:
            dim15.append(run_time)

1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.
1  was calculated for k. 3 is chosen for k for variance purposes.

In [16]:
eng.quit()

### More

In [17]:
sims = ["Normals", "Guassian_Mix", "Pair_Uniforms", "Normal_Beta", "Uniform_Normal"]

index = []

for names in sims:
    for num in samples:
        idx_name = names + "_" + str(num)
        index.append(idx_name)

index

['Normals_50',
 'Normals_5000',
 'Guassian_Mix_50',
 'Guassian_Mix_5000',
 'Pair_Uniforms_50',
 'Pair_Uniforms_5000',
 'Normal_Beta_50',
 'Normal_Beta_5000',
 'Uniform_Normal_50',
 'Uniform_Normal_5000']

In [30]:
# dim3

In [31]:
ordered_columns = [ "Bhattacharyya","Bha_knn", "influence", "Dp", "enDive"]

In [32]:
dim3_df = pd.DataFrame(dim3,index= index )

dim3_df = dim3_df[ordered_columns]
round(dim3_df*1000, 2)

                     Bhattacharyya  Bha_knn  influence       Dp  enDive
Normals_50                    0.36     0.50      24.19     1.89   39.68
Normals_5000                  0.64    59.37    1768.84  5425.32  651.56
Guassian_Mix_50               0.40     0.36      27.76     1.49   42.57
Guassian_Mix_5000             0.67    59.06    1725.89  5161.51  631.87
Pair_Uniforms_50              0.41     0.38      27.23     1.72   40.66
Pair_Uniforms_5000            0.61    78.81    2560.77  7315.06  803.09
Normal_Beta_50                0.37     0.35      26.69     1.67   39.31
Normal_Beta_5000              0.53    62.22    1701.46  5303.52  592.75
Uniform_Normal_50             0.42     0.39      28.25     1.69   49.05
Uniform_Normal_5000           0.53    51.84    1661.71  5115.86  607.89

In [33]:
dim8_df = pd.DataFrame(dim8,index= index )
dim8_df = dim8_df[ordered_columns]

round(dim8_df*1000, 2)

                     Bhattacharyya  Bha_knn  influence       Dp  enDive
Normals_50                    0.48     0.47      23.57     1.46   69.58
Normals_5000                  9.72   196.98    1739.97  5550.04  686.38
Guassian_Mix_50               0.49     0.47      23.67     1.65   70.11
Guassian_Mix_5000            12.36   185.34    1732.50  5341.85  669.23
Pair_Uniforms_50              0.54     0.50      29.34     1.88   85.81
Pair_Uniforms_5000           10.46   200.59    2271.73  6330.57  746.35
Normal_Beta_50                0.47     0.45      23.05     1.56   77.94
Normal_Beta_5000             11.61   162.99    1732.63  5354.29  664.16
Uniform_Normal_50             0.45     0.38      22.38     1.45   72.66
Uniform_Normal_5000          11.58   150.43    1688.41  5216.69  649.80

In [34]:
dim15_df = pd.DataFrame(dim15,index= index )
dim15_df = dim15_df[ordered_columns]

round(dim15_df*1000, 2)

                     Bhattacharyya  Bha_knn  influence       Dp  enDive
Normals_50                    8.77     1.20      25.06     1.54   71.98
Normals_5000                 21.90   397.24    1758.68  5706.66  738.79
Guassian_Mix_50               7.99     0.94      25.52     1.41   65.61
Guassian_Mix_5000            28.92   362.50    1757.06  5445.88  724.54
Pair_Uniforms_50              6.72     1.32      30.95     2.04   81.42
Pair_Uniforms_5000           17.44   475.24    2344.32  6483.24  876.36
Normal_Beta_50               10.27     1.19      23.93     1.56   72.61
Normal_Beta_5000             22.13   383.48    1771.35  5517.35  764.64
Uniform_Normal_50             8.48     1.27      23.45     1.48   70.98
Uniform_Normal_5000          27.72   327.99    1774.54  5306.93  714.00